body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3e3d42;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fff !important;
}
.link_active,
.link_active a {
  color: red !important;
}

/* .container {
  border: 1px solid red;
} */
#a_unique_id-outer-box {
  background-color: #3e3d42 !important;
  margin: 0 auto !important;
  box-shadow: rgba(99, 114, 130, 0.3) 6px 7px 30px;
}
#a_unique_id {
  border-radius: 4px;
}
